.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #009688;
    text-align: center;
    font-size: 24px;
    /*color: white;*/
}
#navbar {
    text-align: center;
}    

body {
    display: flex;
    justify-content:center;
}
.progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    border: 1px solid black;
}

child {
    display: grid;
    border: 1px solid black;
    border-radius: 25px;
    grid-template-columns: 70% 10% 20%;
    margin: 4em;
}

.grid-item1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    border: 1px solid black;
}


.grid-item2{
    border: 1px solid black;
}
.grid-item3{
    border: 1px solid black;
}

.container {
  
    background-color: #ffffff;
    width: 768px;
    padding: 20px;

}

.header{
    align-items: flex-start;
    text-align: center;
    justify-content: space-around;
    border: black 2px solid;
    width: auto;
}

.sub-header{
    text-align: center;
}

.parent{
    width: 768px;
    padding-left: 20px;
}

.child{
    border: black 2px solid;
}